# ===================
# Generelle IDE og byggmapper
# ===================

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Eclipse / Spring Tools Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Maven / Gradle
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ===================
# Wrapper-filer (Maven)
# ===================
!.mvn/wrapper/maven-wrapper.jar

# ===================
# Følsomme konfigurasjoner
# ===================

# Ikke last opp application.properties (bruk application.properties.example istedenfor)
src/main/resources/application.properties

# ===================
# Hjelpefiler
# ===================
HELP.md
